<%- include("partials/header") %>

<h2>Edit Skill</h2>

<hr>

<form>

    <div class="mb-3">

        <label>Skill Name</label>

        <input
            type="text"
            class="form-control">

    </div>

    <button class="btn btn-warning">

        Update Skill

    </button>

</form>

<%- include("partials/footer") %>