<%- include("partials/header") %>

<div class="text-center mt-5">

    <h1 class="display-4 fw-bold">Welcome to SkillSync</h1>

    <p class="lead">
        Student Skill & Portfolio Tracker
    </p>

    <hr>

    <p>
        Track your skills, certifications and learning progress.
    </p>

    <a href="/login" class="btn btn-primary">
        Login
    </a>

    <a href="/register" class="btn btn-success">
        Register
    </a>

</div>

<%- include("partials/footer") %>