<%- include("partials/header") %>

<h2>Search Skills</h2>

<hr>

<input
    type="text"
    class="form-control"
    placeholder="Search skills...">

<br>

<button class="btn btn-primary">

    Search

</button>

<%- include("partials/footer") %>